@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 33% 99%;
    --foreground: 154 12% 12%;
    --card: 150 14% 97%;
    --card-foreground: 154 12% 12%;
    --popover: 150 14% 97%;
    --popover-foreground: 154 12% 12%;
    --primary: 81 80% 66%;
    --primary-foreground: 0 0% 13%;
    --secondary: 76 63% 84%;
    --secondary-foreground: 75 39% 18%;
    --muted: 140 5% 88%;
    --muted-foreground: 154 12% 12%;
    --accent: 160 10% 94%;
    --accent-foreground: 154 12% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 4% 80%;
    --input: 150 4% 80%;
    --ring: 81 80% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 150 6% 7%;
    --foreground: 150 6% 93%;
    --card: 150 4% 9%;
    --card-foreground: 150 6% 93%;
    --popover: 150 4% 9%;
    --popover-foreground: 150 6% 93%;
    --primary: 81 80% 66%;
    --primary-foreground: 0 0% 13%;
    --secondary: 92 31% 16%;
    --secondary-foreground: 80 79% 85%;
    --muted: 160 3% 19%;
    --muted-foreground: 150 6% 93%;
    --accent: 150 3% 13%;
    --accent-foreground: 150 6% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 156 4% 28%;
    --input: 156 4% 28%;
    --ring: 81 80% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
